


<h1 class="col-md-4, text-center">This is the viewEmail View</h1>

<div ng-init="checked = 'read'" class="container-fluid, col-md-9">

<div class="radio">
        <label><input type="radio" name="optradio" ng-model="checked" value="read">Read</label>

        <label><input type="radio" name="optradio" ng-model="checked" value="reply">Reply</label>

        <label><input type="radio" name="optradio" ng-model="checked" value="forward">Forward</label>

</div>
</div>

</div>

<div>

<email-directive ng-show="checked == 'read'"></email-directive>

<reply-email-directive ng-show="checked == 'reply'"></reply-email-directive>

<forward-email-directive  ng-show="checked == 'forward'"></forward-email-directive>


</div>
