<div class="center-block">




    <h1 class="col-md-4">You have {{ inbox.messages.length && inbox.messages.length || 'no' }} messages</h1>



    <div ng-hide="!inbox.messages.length">

        <input type="text" ng-model="inbox.search">



    </div>


    <ul>

        <li ng-show="!inbox.messages.length">
                You have no emails to show
        </li>

            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                        <try>
                            <th>From</th>
                            <th>Date</th>
                            <th>Subject</th>
                            <th>Message ID</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="message in inbox.messages | filter :{From : inbox.search}">
                            <td>{{message.From}}</td>
                            <td>{{message.Date | date: 'dd/mm/yy'}}</td>
                            <td>{{message.Subject}}</td>
                            <td>{{message.id}}</td>
                            <td><button type="button" ng-click="inbox.goToMessage(message.id)" class="btn btn-info">Read</button></td>
                            <td><button type="button"  ng-click="inbox.deleteMessage(id, $index);" class="btn btn-danger">Delete</button></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                </div>






    </ul>




    </div>